.header {
    background-color: powderblue;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 25px;
    top: 0;
    left: 0;
    height: auto;
    position: fixed;
}

ul {
    margin-top: 30px;
    color: white;
}
.push {
    margin-bottom: 30px;
}

.header ul li {
    display: inline;
    padding-left: 30px;
}

.header ul li a {
    text-decoration: none;
    color: white;
    background-color: powderblue;
}

.header ul li a:hover {
    color: darkblue;
}

.beginning {
    padding-top: 50px;
    text-align: center;
}

h1 {
    text-align: center;
    padding: 0;

}

ul {
    text-align: center;
}

.about p {
    display: inline-block;
    margin-left: 15em;
}

#col {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 80px;
    -moz-column-gap: 80px;
    column-gap: 80px;    
    padding-left: 12em;
    padding-right: 12em;
}

#col2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 80px;
    -moz-column-gap: 80px;
    column-gap: 80px;
    padding-left: 12em;
    padding-right: 12em;
}

p {
    margin-top: 0em;
    padding-left: 12em;
    padding-right: 12em;
}

h4 {
    margin-bottom: 0em;
    padding-left: 12em;
}

.technical p {
    display: inline-block;
    margin-left: 15em;
}

.education li {
    list-style: none;
    text-align: left;
    padding-left: 10em;
    color: black;
}

.daisy {
    text-indent: 10px;
    margin-top: 0em;
}

.rose {
    color: gray;
    margin-bottom: 0em;
}

.footer {
    text-align: center;
    color: powderblue;
}

.footer ul li {
    list-style: none;
    display: inline;
    margin-left: 30px;
    text-align: center;
}

form {
    margin: 0 auto;
    width: 35%;
    height: 350px;
    padding: 1em;
    border-radius: 1em;
    background: #a3c5cf; 
    text-align: center;
}

form div + div {
    margin-top: 1em;
}

label {
    display: block;
    width: 90px;
    color: white;
    font-size: 0.75em;
    padding-left: 3em;
}

input, textarea {
    font: 1em sans-serif;
    width: 200px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px; 
    height: 2em;
    border: 1px solid grey;
}

input:focus, textarea:focus {
    border-color: grey;
}

textarea {
    vertical-align: top;
    height: 10em;
}

.button {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    
}
button {
    width: 200px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #a3c5cf; 
    height: 2em;
    background-color: white;
    padding: 0;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 100%;
    
    
    
  
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

hr {
    padding: 0;
    width: 75%;
}


.links {
    text-decoration: none;
    color: powderblue;
}